<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Witam wszystkich fanów</div>
            <div class="intro-heading">Heroes III</div>
            <a href="#trilogy" class="page-scroll btn btn-xl">Więcej o grze</a>
        </div>
    </div>
</header>
