<nav class="navbar navbar-default navbar-fixed-top" style="background-color: black;">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Strona główna</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#trilogy" style="color: #fed136;">Trylogia</a>
                </li>
                <li>
                    <a class="page-scroll" href="#gallery" style="color: #fed136;">Galeria</a>
                </li>
                <li>
                    <a class="page-scroll" href="#author" style="color: #fed136;">Autor</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
