<section id="trilogy">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Trylogia</h2>
                <h3 class="section-subheading text-muted">Heroes Might And Magic III</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="@Url.Content("~/Static/Images/erathia.jpg")" alt="" width="272" height="272">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Czerwiec 1999</h4>
                                <h4 class="subheading">Odrodzenie Erathii</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted"> Jest strategiczną grą turową wydaną przez firmę The 3DO Company. Grę zaprojektowali 
                                Jon Van Caneghem, Jeff Blattner, David Mullich, Greg Fulton. Kontynuatorka kultowej serii Heroes of Might 
                                and Magic. Trzecia część uznawana jest za najlepszą i słynie jako "strategia wszechczasów". Gra znana jest 
                                również pod nazwą Heroes III oraz HoMM 3.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="@Url.Content("~/Static/Images/blade.jpg")" alt="" width="272" height="272">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Grudzień 1999</h4>
                                <h4 class="subheading">Ostrze Armageddonu</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Jest pierwszym z oficjalnych dodatków do HoMM 3. Został stworzony w firmie New World 
                                Computing i przez firmę 3DO. Ostrze Armagedonu wprowadza przede wszystkim nowe kampanie oraz dziewiąte miasto
                                 - Wrota Żywiołów, które zamieszkują wszelkiej maści żywiołaki, nimfy i feniksy.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="@Url.Content("~/Static/Images/shadow.jpg")" alt="" width="272" height="272">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Marzec 2000</h4>
                                <h4 class="subheading">Cień śmierci</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">To drugi z oficjalnych dodatków do gry. Producentem i wydawcą pozostały te same firmy.
                                Jedną z nowości w Cieniu Śmierci są olbrzymiej mocy artefakty składane, które czynią bohatera niezwykle potężnym. 
                                Dodatek zawiera również nowe kampanie i wiele pojedynczych scenariuszy.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Wiele
                                <br>fanowskich
                                <br>modów
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
